<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
  <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

  <property name="moduleId" value="around_hub_spring_boot"/>
  <property name="type" value="around_hub"/>
  <property name="logback" value="logback"/>

  <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr(%-5level){yellow} %clr(%-40.40logger{39}){cyan} %clr([%X{REQUEST_METHOD} %X{REQUEST_URI}]){blue} %clr(%X{REQUEST_ID}){magenta} %clr(%X{REQUEST_IP}){yellow} %clr(%X{REQUEST_TIME}){blue} %m%n"/>
<!--  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{39} - %msg%n"/>-->
<!--  <property name="LOG_FILE" value="logs/app.log"/>-->
  <property name="CONSOLE_LOG_CHARSET" value="${CONSOLE_LOG_CHARSET:-default}"/>

  <springProperty name="SLACK_WEBHOOK_URL" source="logging.slack.webhook-uri"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
<!--      <charset>${CONSOLE_LOG_CHARSET}</charset>-->
<!--    </encoder>-->
<!--  </appender>-->

<!--  &lt;!&ndash; File appender 추가 &ndash;&gt;-->
<!--  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <file>${LOG_FILE}</file>-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      &lt;!&ndash; 매일 로그 파일 변경 및 7일간 보관 &ndash;&gt;-->
<!--      <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--      <maxHistory>7</maxHistory>-->
<!--    </rollingPolicy>-->
<!--    <encoder>-->
<!--      <pattern>${FILE_LOG_PATTERN}</pattern>-->
    </encoder>
  </appender>

  <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
    <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        ${PID:-} --- [%15.15thread] %-40.40logger{36} %msg%n%n
        [CURRENT_MODULE] : CLIENT-API%n
        [REQUEST_ID] : %X{REQUEST_ID:-NO REQUEST ID}%n
        [REQUEST_METHOD] : %X{REQUEST_METHOD:-NO REQUEST METHOD}%n
        [REQUEST_URI] : %X{REQUEST_URI:-NO REQUEST URI}%n
        [REQUEST_TIME] : %d{yyyy-MM-dd HH:mm:ss.SSS}%n
        [REQUEST_IP] : %X{REQUEST_IP:-NO REQUEST IP}%n
      </Pattern>
      <charset>utf8</charset>
    </layout>
    <colorCoding>true</colorCoding>
  </appender>

  <appender name="ASYNC-SLACK" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="SLACK"/>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
<!--    <appender-ref ref="file"/>-->
    <appender-ref ref="ASYNC-SLACK"/>
  </root>

</configuration>









