<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <property name="moduleId" value="around_hub_spring_boot"/>
  <property name="type" value="around_hub"/>
  <property name="logback" value="logback"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger [%X{REQUEST_ID}] [%X{REQUEST_METHOD}] [%X{REQUEST_URI}] [%X{REQUEST_TIME}] [%X{REQUEST_IP}] %msg%n</pattern>
    </encoder>
  </appender>


  <root level="INFO">
    <appender-ref ref="console"/>
  </root>
</configuration>